<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col md-12 col-lg-12 col-xl-12 col-xxl-12  ">
            <div class="row g-3 mt-5">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center mb-5">
                    <h1>User Regiter</h1>
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Name</label>
                    <input type="text" class="form-control" name="name" [(ngModel)]="name">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Email</label>
                    <input type="text" class="form-control" name="email" [(ngModel)]="email">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label">Address</label>
                    <textarea name="address" [(ngModel)]="address" id="" cols="3" rows="3" class="form-control"></textarea>
                </div>
                
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Phone</label>
                    <input type="text" class="form-control" name="phone" [(ngModel)]="phone">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">Username</label>
                    <input type="text" class="form-control" name="username" [(ngModel)]="username">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6 mb-3">
                    <label for="" class="form-label">Password</label>
                    <input type="password" name="password" [(ngModel)]="password" id="" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button class="btn btn-dark" (click)="readValue()">User Register</button>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center mt-3">
                    <button class="btn btn-secondary mx-3" routerLink="/userlogin"> User Login</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>
